<ion-view view-title="Drink">
  <ion-content class="padding">
  <h2>Drinks</h2>
  	<p>
    This is the drink selection
    </p>
    <div style="text-align: center">

  		<img id="emoji-level" src="/img/emo/1.png" style="width: 50px">
  	</div>
    
    <ion-list>
    	<ion-item class="item-avatar" ng-repeat="drink in drinks">
    		<img src={{drink.img}}>
    		<span class="badge badge-assertive">{{drink.count}}</span>
			<button ng-click="incr(drink)" class="button icon-left ion-plus button-positive">Add</button>
    	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
