<ion-view view-title="Friends">
  <ion-content class="has-header">    

    <div id="map"></div>
    <p class="padding">Select offer to start saving on your night out:</p>
    <ion-list class="">
      <ion-item class="deals-list item-remove-animate" style="" ng-repeat="deal in deals" type="item-text-wrap">
      <div class="row">
        <div class="col">
          <h2>{{deal.title}}</h2>
          <span>{{deal.description}}</span>
        </div>

        <div class="col">
         <span style="font-size: 1em; font-weight:bold;">&dollar;{{deal.price[0]}}  <i class="ion-ios-arrow-thin-right"></i>  &dollar;{{deal.price[1]}}</span>
        </div>

        <button class="col button button-balanced" ng-click="buy({{deal.id}})" id="buy-btn-{{deal.id}}"><i class="ion-ios-cart-outline"></i> Buy</button>

      </div>
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
