<ion-view view-title="Buzz">
  <ion-content class="has-header padding">
  <p style="font-size: 5em; line-height: 2em; text-align: center; display: block;">&dollar;<span id="range-output">20</span></p>

  <h3>Set tonight's budget:</h3>
  <div class="item range range-positive">
    <span>&dollar;0</span>
    <input id="range-input" type="range" name="volume" min="0" max="300" value="20" oninput="document.getElementById('range-output').innerHTML = this.value">
    <span>&dollar;300</span>
  </div>

    <div>
      <button style="margin: 20px auto; display:block; width: 8em; height: 8em; border-radius: 500px; " class="button button-large button-balanced" ng-click="saveRange()">
        <span style="font-size: 2em; font-weight: bold;">Start</span>
      </button>
    </div>

  </ion-content>
</ion-view>
