<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Start" icon-off="ion-plus" icon-on="ion-plus" href="#/tab/buzz">
    <ion-nav-view name="tab-buzz"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Track" icon-off="ion-social-usd" icon-on="ion-social-usd" href="#/tab/drink">
    <ion-nav-view name="tab-drink"></ion-nav-view>
  </ion-tab>

  <ion-tab title="History" icon-off="ion-arrow-graph-up-right" icon-on="ion-arrow-graph-up-right" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Deals" icon-off="ion-star" icon-on="ion-star" href="#/tab/deals">
    <ion-nav-view name="tab-deals"></ion-nav-view>
  </ion-tab>

</ion-tabs>
