/* Empty. Add your own CSS if you like */
@import "url('/fonts/Lato?family=Lato')";

body, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Lato', sans-serif;
}

.item.selected img {
	border: 5px solid #9f9;
}
#container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.button.button-balanced {
	background-color: #9bfe8c;
	color: #414042;
}

.bar.bar-stable {
	background-color: #ccffff;
}
.tabs {
	background-color: #ccffff;
	color: black;
}
.hidden {
	display: none;
}
.deals-list {
	background-color: #f3f4c8;
	margin-bottom: 10px;
}